
.test { background:url(default/test.png); }

body {
	font:15px normal Arial;
	color:#FFF;
}

.logoMain {
	width:130px; height:100px;
	margin-top: 25%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(default/logo.png);
	background-size: cover;
	border-radius: 20px;
	z-index: 100;
}
.logoMain:hover {
	cursor: pointer;
}
.logoImage {
	height:100px;
}

.splashImageBox {
	width: 75%; height: 70%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("default/UFE.png");
	background-size:contain;
	opacity: 0.8;
}
.splashTitle {
	font-size: 32pt;
}

/*==============================================================*/

#mainTitle { position:absolute;
	text-align:center;
	font-size:40pt;
	bottom:-4px; left:20px;
	font-family:FedStarFleet;
	text-shadow: 4px 4px 4px #000;
}
#mainVersion { float:right;
	height:40px;
	margin-top:10px; margin-right:10px;
	display: flex; justify-content: center; align-items: center;
	background:rgba(204,0,0,0.8);
	border-radius: 10px;
	overflow:hidden;
}
#versionBox {
	margin-right:10px; margin-bottom:-2px; margin-left:10px;
	font-family:FedStarFleet;
	font-size:30pt;
}

.mainForm { position:relative;
	margin:5px; padding:2px;
	border:1px solid #CCC; border-radius:8px;
	background:rgba(204,0,0,0.75);
	overflow:hidden;
}
.formBase { position:relative;
	margin:5px; padding:2px;
	border:1px solid #CCC; border-radius:8px;
	background:rgba(204,0,0,0.75);
	overflow:hidden;
}
.formHead {
	margin:2px; padding:2px 6px;
	overflow:hidden;
	border:1px solid #CCC; 	border-top-left-radius:6px; border-top-right-radius:6px;
	font-size:20pt;
	background:rgba(0,0,0,0.75);
	clear:both;
}
.formContent {
	margin:2px; padding:2px 5px;
}
.formFoot {
	margin:2px; padding:2px 4px;
	overflow:hidden;
	border:1px solid #CCC; border-bottom-left-radius:6px; border-bottom-right-radius:6px;
	background:rgba(0,0,0,0.75);
	clear:both;
}
.formButton {
	float:right;
}

.fields { float:left;
	margin:3px; padding:3px 5px;
	background:rgba(255,255,255,0.75);
	border-radius:4px;
	font-weight:bold; text-align:left; color:#000;
	vertical-align:top;
}
.field {
	border:0px; padding:3px 4px; border-radius:4px;
	background:rgba(250,250,250,0.5);
}
.field:focus {
	background:rgba(205,255,0,0.5);
}

.button {
	margin:2px; padding:5px 10px;
	border:1px solid #FFF; border-radius:20px;
	background:rgba(80,80,80,0.75);
	font-size:12pt; font-weight:bold;
	text-decoration:none;
	color:#FFF;
}
.button:hover {
	border:1px solid #000;
	background:rgba(204,255,0,0.75);
	cursor:pointer;
	text-decoration:none;
	color:#000;
}

.smallButton { position:absolute;
	width:18px; height:18px;
	left:2px;
	font-size:10pt; font-weight:bold;
	border-radius:4px;
	color:#FFF;
	background:rgba(10,10,10,0.75);
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-content:center;
}
.smallButton:hover {
	background:rgba(255,255,255,0.75);
	color:#000;
	cursor:pointer;
}

.menu-head {
	height:24px;
	margin:0px 6px 3px 0px; padding:2px 2px 2px 5px;
	font-size:15pt;
	background-color:#FFB300;
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
}
.squareButton { position:relative;
	width:180px;
	margin:2px 0px 2px 0px; padding:4px 6px;
	border-top:1px solid #FFF; border-right: 0px; border-bottom:1px solid #FFF; border-left: 0px;
	font-size:15pt;
	text-align: left;
	overflow: hidden;
	background:rgba(80,80,80,0.75);
	color:#FFF;
}
.squareButton:hover {
	background:rgba(204,255,0,0.75);
	cursor:pointer;
	color:#000;
}

.squareCap { position:absolute;
	width:10px; height:100%;
	background:rgba(179,0,89,1.0);
	border-right:2px solid #000;
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
}
.squareCap:hover {
	background:rgba(255,0,128,1.0);
	cursor:pointer;
}
.squareText { position:absolute;
	right:0px; left:12px;
	padding:2px 3px;
	background:rgba(120,120,255,1.0);
	font-size:15pt;
}
.squareText:hover {
	background:rgba(155,155,255,1.0);
	cursor:pointer;
	color:#000;
}

.buttonAdd { position:absolute;
	width:20px; height:20px;
	background-image:url(default/add_btn.png);
	background-position:center;
	border-radius:6px; border:1px solid #FFF;
}
.buttonAdd:hover {
	border:1px solid #F00;
}

.copyright {
	width:auto;
	font-size:8pt;
	color:#CCC;
}

.pipGroupS {
	padding:2px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border:2px solid rgb(230, 200, 40);
	border-radius: 4px;
	background:rgba(0, 0, 0, 0.5);
}
.pipGroupR {
	padding:2px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border:1px solid rgb(230, 200, 40);
	border-radius: 20px;
	background:rgba(150, 150, 150, 0.5);
}
.pipGold {
	width:25px; height:25px;
	margin:2px;
	border:2px solid rgb(230, 200, 40);
	border-radius: 50%;
	background: gold; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left top, #cdb117, #FFFFEF, #dbbe22); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, #cdb117, #FFFFEF, #dbbe22); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, #cdb117, #FFFFEF, #dbbe22); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom right, #cdb117, #FFFFEF, #dbbe22); /* Standard syntax */
}
.pipBlack {
	width:25px; height:25px;
	margin:2px;
	border:2px solid rgb(230, 200, 40);
	border-radius: 50%;
	background: black; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left top, black, #888, black); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, black, #888, black); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, black, #888, black); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom right, black, #888, black); /* Standard syntax */
}

.loadspeed { float:right;
	margin:10px 20px 0px 0px;
	font-size:8pt;
	color:#888;
}


/* EoF */
